
.textoindex{

margin: 200px 100px;
line-height: 50px;
color:#030;
font-size: 40px;
text-align:center
}

.image{
width:30%;
height:30%;
alignment-adjust:central;
border-radius:50px;
margin-left:35%;
margin-top:-10%;	
}

.imgenosotros{
	width:200px;
	height: 200px;
  
}


.contnedor {
	padding: 20px 250px 100px 20px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	margin-left:25%;
    margin-top:10%;	
	border-radius:100px;

}

.contnedor li {
	display: inline-block;
	width: 363px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}


.contnedor figure {
	margin: 0;
	position: relative;
	
}

.contnedor figure img {
	max-width: 100%;
	display: block;
	position: relative;
}


.contnedor figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0px;
	background: #06F;
	color: #ed4e6e;
}
.contnedor figcaption h3 {
    border-bottom: 1px solid #777777;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 5px;
	text-align:center;
}


.contnedor figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #996600;
	color: #fff;

}
.caption li {
	perspective: 1800px;
	perspective: 1800px;
	perspective: 1800px;
	perspective-origin: 0 50%;
	perspective-origin: 0 0%;
	perspective-origin: 0 0%;
}

.caption figure {
	transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.caption figure > div {
	overflow: hidden;
}

.caption figure img {
	transition: -webkit-transform 0.3s ease-out;
	transition: -moz-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.caption figure:hover img
{
	transform: translateX(23%);
	transform: translateX(23%);
	transform: translateX(23%);
	transform: translateX(23%);
	cursor: pointer;
}



.caption figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
	border-radius:20px;
}


.caption figure:hover figcaption{
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


.caption figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.animacion{
 position:relative;
 height:400px;
 margin-top:50px;
 
 width:500px;
 padding-left: 5em;
 float:none;

 }
 .animacion img{
 left: 0;
 position:absolute;
 top: 0;
 -moz-transition: all 1s ease-in-out;
 -webkit-transition: all 1s ease-in-out;
 -o-transition: all 1s ease-in-out;
 transition: all 1s ease-in-out;
 width: 600px;
 height: 400px;
 background: #FFF;
 padding: 5px;
 border: solid 1px rgba(80,80,80,0.5);
 border-radius:5px;
 }
 .animacion img.novisible{
 opacity:0;
 filter:alpha(opacity=0);
 }
 
.animacion:hover img.novisible{
 opacity:1;
 filter:alpha(opacity=100);
 }
 
 .animacion:hover img.visible {
 opacity:0;
 filter:alpha(opacity=0);
 }
 
.animacion img.visible:hover {
 opacity:0;
 filter:alpha(opacity=0);
 }
 .boton{
background-color: #000301;
background-image: -webkit-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -moz-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -o-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
-ms-border-radius:8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 20px;
-webkit-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
-moz-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
color: #fff;
display: inline-block;
font-family: ‘Pacifico’, Arial, sans-serif;
font-size: 30px;
line-height: 1;
padding: 15px 25px;
text-decoration: none;
text-shadow: 0 -1px 1px rgba(25, 123, 29, .7);

}
 
 
