
.textoindex{

margin: 200px 100px;
line-height: 50px;
color:#030;
font-size: 40px;
text-align:center
}

.image{
width:30%;
height:30%;
alignment-adjust:central;
border-radius:50px;
margin-left:35%;
margin-top:-10%;	
}

 
 .asd{
	margin-left:45%;
 }
 
 
 
